[submodule "Config"]
	path = Config
	url = git://github.com/nimbles/Config.git
[submodule "Plugin"]
	path = Plugin
	url = git://github.com/nimbles/Plugin.git
[submodule "Event"]
	path = Event
	url = git://github.com/nimbles/Event.git
